@import url("https://fonts.googleapis.com/css?family=Lobster+Two");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Work Sans';
  overflow-y: hidden; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  font-size: 0.975rem;
  font-weight: 300;
  line-height: 1.6; }

a {
  font-size: 1rem;
  font-weight: 500; }

h1 {
  font-size: 3.3rem;
  font-family: 'lora';
  letter-spacing: 1px; }

img {
  max-width: 100%; }

.wrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto; }

#one nav {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.37);
  height: 100%;
  width: 100%; }

#one .slider-img {
  position: relative;
  background-image: url(../images/nav-slider-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }

#one .mobile-nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 90px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #one .mobile-nav-holder .logo h2 {
    font-family: Lora, serif;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 3.4px; }
  #one .mobile-nav-holder #logo-title {
    font-style: italic;
    font-size: 13px;
    letter-spacing: 1.2px;
    display: inline-block;
    margin-right: 1rem; }
    #one .mobile-nav-holder #logo-title::first-letter {
      font-family: 'Lobster Two', cursive;
      letter-spacing: 3px;
      font-size: 1rem; }

#one .menu-toggle {
  padding: 1em;
  cursor: pointer;
  z-index: 999; }
  #one .menu-toggle .hamburger,
  #one .menu-toggle .hamburger::before,
  #one .menu-toggle .hamburger::after {
    content: '';
    display: block;
    background: #fff;
    height: 3px;
    width: 2em;
    border-radius: 3px;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    color: #fff; }
  #one .menu-toggle .hamburger::before {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    width: 2em; }
  #one .menu-toggle .hamburger::after {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    width: 2em; }
  #one .menu-toggle .menu-toggle--open .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #one .menu-toggle .changeHamburgerStyle {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1.2rem;
    height: 2px; }
  #one .menu-toggle .changeHamburgerStyle::before {
    opacity: 0; }
  #one .menu-toggle .changeHamburgerStyle::after {
    -webkit-transform: translateY(-3px) rotate(-90deg);
    transform: translateY(-3px) rotate(-90deg);
    width: 1.2rem;
    height: 2px; }

#one .mobile-site-nav {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  min-height: 100vh;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 10;
  background-color: #252525; }
  #one .mobile-site-nav .modal-menu-container {
    margin-top: 100px;
    width: 100%; }
    #one .mobile-site-nav .modal-menu-container .menu-mobile {
      margin: 0 auto;
      margin-left: 48px; }
      #one .mobile-site-nav .modal-menu-container .menu-mobile .current-menu-item {
        color: #fff !important; }
      #one .mobile-site-nav .modal-menu-container .menu-mobile .menu-item a {
        color: #999999; }
      #one .mobile-site-nav .modal-menu-container .menu-mobile .sub-menu {
        display: none; }

#one .site-nav--open {
  width: 90%; }

#one .slider-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 80vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#one .slider-text {
  text-align: center; }
  #one .slider-text .intro-text {
    letter-spacing: 0.15rem;
    font-size: 1.1rem;
    font-weight: 400; }
  #one .slider-text h1 {
    font-weight: 300;
    margin: 1rem 0; }
  #one .slider-text p {
    letter-spacing: 1px;
    width: 23rem;
    margin: 0 auto;
    margin-top: 2rem; }
  #one .slider-text .intro-text-paragraph {
    width: 18rem;
    margin: 0 auto;
    display: block; }
  #one .slider-text .slider-btn {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    padding: 2rem 0 0.65rem 0;
    display: inline-block;
    border-bottom: 2px #fff solid;
    letter-spacing: 0.15rem;
    font-size: 0.75rem; }

#one #slider-circle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  width: 100%; }

#one #slider-circle-icon i {
  font-size: 8px;
  padding: 0 7px;
  color: rgba(248, 246, 246, 0.849); }
  #one #slider-circle-icon i:last-child {
    font-size: 15px; }

/*************************************
 
 
 	1. MAIN STYLES
	
	2. HEADER
	
	3. HOME
	
	4. MENU
	
	5. PAGES

	6. BLOG
	
	7. FOOTER
	
	8. BACKGROUND IMAGES
	
	9. OTHER
 
 
 
// ************************************/
