@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
//Nav
#one {
  nav {
    position: absolute;
    left: 0;
    top: 0;
    color: $white;
    background: rgba(0, 0, 0, 0.37);
    height: 100%;
    width: 100%;
  } //Slider Images
  .slider-img {
    position: relative;
    background-image: url(../images/nav-slider-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
  } // Mobile Nav Holder
  .mobile-nav-holder {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    .logo h2 {
      font-family: Lora, serif;
      font-size: 1.4rem;
      text-align: center;
      letter-spacing: 3.4px;
    }
    #logo-title {
      font-style: italic;
      font-size: 13px;
      letter-spacing: 1.2px;
      display: inline-block;
      margin-right: 1rem;
      &::first-letter {
        font-family: 'Lobster Two', cursive;
        letter-spacing: 3px;
        font-size: 1rem;
      }
    }
  } // Hamburger Icon
  .menu-toggle {
    padding: 1em;
    cursor: pointer;
    z-index: 999;
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      content: '';
      display: block;
      background: $white;
      height: 3px;
      width: 2em;
      border-radius: 3px;
      transition: all ease-in-out 200ms;
      color: $white;
    } //transform to regular hamburger
    .hamburger::before {
      transform: translateY(-6px);
      width: 2em;
    }
    .hamburger::after {
      transform: translateY(3px);
      width: 2em;
    }
    .menu-toggle--open .hamburger {
      transform: rotate(45deg);
    }
    .changeHamburgerStyle {
      transform: rotate(45deg);
      width: 1.2rem;
      height: 2px;
    }
    .changeHamburgerStyle::before {
      opacity: 0;
    }
    .changeHamburgerStyle::after {
      transform: translateY(-3px) rotate(-90deg);
      width: 1.2rem;
      height: 2px;
    }
  } //Mobile Menu Holder
  .mobile-site-nav {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    min-height: 100vh;
    transition: all 300ms ease-in-out;
    z-index: 10;
    background-color: $light-black;
    .modal-menu-container {
      margin-top: 100px;
      width: 100%;
      .menu-mobile {
        margin: 0 auto;
        margin-left: 48px;
        cursor: pointer;
        .menu-item {}
        .menu-item>a {
          color: $gray;
          font-size: 1.5rem;
          text-decoration: none;
          font-weight: 500;
          letter-spacing: 2px;
        }
        .current-menu-item>a:first-child {
          color: $white;
        } // Sub Menu Display none until you click it or hover don't know yet
        //Sub Menu Styling 
        .menu-angle-up {
          font-size: 18px;
        }
        .sub-menu {
          margin-left: 10px;
          .menu-item a {
            font-size: 1rem;
            text-decoration: none;
            padding-top: 1.2rem;
            display: block;
            letter-spacing: 2px;
            font-weight: 100;
            transition: all 400ms;
            &:hover {
              color: $white;
            } // Hover effect
          } // Menu Item > a
        } //sub menu ends here
      } // menu-mobile ends here
    } //modal menu container
  } // jquery class
  .site-nav--open {
    width: 90%;
  } //Slider Caption 
  .slider-caption {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
  }
  .slider-text {
    text-align: center;
    .intro-text {
      letter-spacing: 0.15rem;
      font-size: 1.1rem;
      font-weight: 400;
    }
    h1 {
      font-weight: 300;
      margin: 1rem 0;
    }
    p {
      letter-spacing: 1px;
      width: 23rem;
      margin: 0 auto;
      margin-top: 2rem;
    }
    .intro-text-paragraph {
      width: 18rem;
      margin: 0 auto;
      display: block;
    }
    .slider-btn {
      color: $white;
      font-weight: 400;
      text-decoration: none;
      padding: 2rem 0 0.65rem 0;
      display: inline-block;
      border-bottom: 2px $white solid;
      letter-spacing: 0.15rem;
      font-size: 0.75rem;
    }
  }
  #slider-circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }
  #slider-circle-icon i {
    font-size: 8px;
    padding: 0 7px;
    color: rgba(248, 246, 246, 0.849);
    &:last-child {
      font-size: 15px;
    }
  }
} // One Ends Here